<!DOCTYPE html>
<html ng-app="A-Fina">
<head>
    <title>index</title>
    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js" type="text/javascript"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--app.js-->
    <script src="../js/app.js" type="text/javascript"></script>
</head>
<body class="container" ng-controller="HomeController as vm">
    <div class="row">
        <canvas id="myChart" width="1000" height="400"></canvas>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>Выбрать данные:</h3>
            <button class="btn btn-default" ng-click="vm.changedData()">changed</button>
            <button class="btn btn-default" ng-click="vm.defaultData()">default</button>
        </div>
        <div class="col-lg-8">
            <h3>vm.data.labels:</h3>
            <p>{{vm.data.labels}}</p>
            <h3>vm.data.datasets.data:</h3>
            <p ng-repeat="ds in vm.data.datasets">{{ds.data}}</p>
        </div>
    </div>
    
</body>

</html>