<!DOCTYPE html>
<html ng-app="A-Fina">
<head>
    <title>index</title>
    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular-route.min.js" type="text/javascript"></script>
    <!--papaParse-->
    <script src="../js/papaparse.min.js" type="text/javascript"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--app.js-->
    <script src="../js/app.js" type="text/javascript"></script>
    <script src="../js/controllers/model.js" type="text/javascript"></script>
    <script src="../js/controllers/main.js" type="text/javascript"></script>
</head>
<body class="container" ng-controller="MainController as vm">
    <div ng-view></div>
    
    <br />
    <a class="btn btn-success" href="/app/view/index.html">A-Fina</a>
    <a class="btn btn-info" href="#/main">Main</a>
    <a class="btn btn-info" href="#/model">Model</a>    
</body>
</html>